/*
 * Overrides CSS
 */

/* Mic Overrides CSS */

ul.sigProElegant span.sigProPseudoCaption, ul.sigProElegant span.sigProCaption {
       font-size: 14px;
  
    font-family: inherit;
}

/* critical CSS */

@media (min-width: 1280px) {
  
  .fullwidth {
      width: 100%;
  }

  .innerwidth {
      width: 1180px;
      margin: 0px auto;
  }
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    transition: color 0.3s ease-in-out;
}

p, li {
    color: #565656;
    line-height: 24px;
}

h2, h3 {
    color: #565656;
    text-transform: uppercase;
    font-weight: normal;
}

.clr {
    clear: both;
}

/* Mic Modification CSS */

h2 {
    font-size: 24px;
}

/*lzyLoad*/
.lazy-hidden {
    opacity: 0;
}
.lazy-loaded {
    -webkit-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

/*header*/

img#headerIMG {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
 body.desktop header.largeBckgr {
    background: url('/images/header-bckgr-large.jpg') top left no-repeat;
    background-size: cover;
    height: 370px;
  }

/*content*/

/*team*/

ol.breadcrumb a,
main#content a {
    color: #f28c30;
}
div.page-header,
div.page-header h1,
div.page-header h1 a,
.item-page h1 {
    text-transform: uppercase;
    color: #565656;
    font-weight: normal;
    border: none;
}
.introSymbol {
    width: 35px;
    height: 38px;
    background-color: #f28c30;
    border-radius: 15%;
    float: left;
    margin: 5px 5px 5px 0px;
}

 /*Menue*/
nav.navbar-wrapper {
    background-color: #f6f6f6;
    margin-bottom: 30px;
}
body.site .navbar .nav li.active a:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #f28c30;
    width: 40px;
    height: 40px;
    z-index: -1;
    border-radius: 5px;
}
body.site .navbar .nav>.active>a,
body.site .navbar .nav>.active>a:hover,
body.site .navbar .nav>.active>a:focus {
    color: #fff;
    text-shadow: 2px 2px 6px #252525 !important;  
    text-decoration: underline;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
    position: relative;
}
body.site .navbar .nav>a {
    text-shadow: none;
}
.navbar .nav>li>a {
    color: #565656;
}
.navbar .nav > li {
  display: inline-block;
}
.navbar .navbar-inner {
    border: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 15px 0;
    background-color: transparent;
    background-image: none;
}
nav.navbar-wrapper.innerwidth {
    margin: 0 auto;
}
.navbar {
    margin: 0 0 5px;
    padding: 0;
    position: relative;
    z-index: 999;
}


 /* Activates hovering the main items to show the sub items */
@media (min-width: 980px) {
   .nav-pills > li > a,
   .dropdown-menu {
      margin: 0;
   }
 
   .nav-pills > li.dropdown:hover ul.dropdown-menu,
   .nav-tabs > li.dropdown:hover ul.dropdown-menu {
      display: block;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu .dropdown-menu {
      display: none;
   }
 
   .nav-pills > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu,
   .nav-tabs > li.dropdown ul.dropdown-menu .dropdown-submenu:hover .dropdown-menu {
      display: block;
   }
}

/* Submenus below each other */
@media (max-width: 733px) {
   .dropdown,
   .dropdown-submenu {
      display: block;
      position: static;
      float: none;
   }
   .dropdown-menu {
      position: static;
      float: none;
   }
   .open .nav-child.dropdown-menu {
      display: block;
      background-color: transparent;
      border: none;
      border-radius: 0;
      box-shadow:none;
   }
}



/*bootstrap Carousel*/

.item {
   max-width: 100%;
}

/*
  Bootstrap Carousel Fade Transition (for Bootstrap 3.3.x)
*/
.carousel-fade .carousel-inner .item {
  opacity: 0;
  transition: opacity 2.0s ease;
}

.carousel-fade .carousel-inner .active {
  opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-control {
  z-index: 2;
}

/*
  WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
  Need to override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
}
/*!<-- end BS carousel

/* non-critical CSS */

/*bottom*/
.module_bottom2 .module .custom {
    padding-right: 70px;
}
.module_bottom .custom>.span6 {
    margin-left: 0px;
}  
.module_bottom ul li,
.item-page ul li {
    background: url('/images/li-style.jpg') no-repeat left center;
    text-indent: 30px;
    font-size: 24px;
    line-height: 35px;
    list-style-type: none;
}
.item-page ul li {
    font-size: 18px;
} 
body.desktop .itemid-111 .module_bottom ul li {
    font-size: 24px;
}   
.module_bottom ul {
    margin: 30px 0 10px 50px;
}
.module_bottom h2 {
    font-weight: bold;
    padding-top: 20px;
}
.module_bottom h3,
h3.introHeader {
    display: inline;
    vertical-align: text-top;
    font-weight: bold;
}
h3.introHeader {
    font-size: 18px;
    line-height: 30px;
    vertical-align: middle;
}
.estLiveOverlay a:hover {
    color: #f28c30;
}
.estLiveOverlay a {
    text-decoration: underline;
    font-size: 18px;
    text-transform: uppercase;
    float: right;
    padding-right: 20px;
    transition: color 0.4s ease-in-out;
}
.estLiveOverlay p {
    margin-top: 15px;
    color: rgba(255, 255, 255, 0.8) !important;
    text-transform: uppercase;
}
.estLiveOverlay h3 {
    font-size: 24px;
    line-height: 28px;
    font-weight: normal;
}
.estLiveOverlay h3,
.estLiveOverlay p,
.estLiveOverlay a {
    color: #fff;
    text-shadow: 2px 3px 5px #383838;
}
.estLiveOverlay {
    position: absolute;
    right: 0;
    top: 30%;
    padding: 10px 30px;
    background: rgba(0,0,0,0.4);
    opacity: 0;
    transition: opacity 0.5s ease-in-out 1s;
}
.span6.estLive {
    position: relative;
}
.liveBanner {
    position: absolute;
    left: 0;
    color: #fff;
    background: #f28c30;
    margin-left: 30px;
    border-radius: 0 0 20px 20px;
    padding: 10px 20px 0;
    box-shadow: 2px 3px 20px -4px #565656;
    height: 50px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out 1s;
}
.liveBanner h4 {
    text-transform: uppercase;
    font-weight: normal;
}
/*footer*/
.copyWrapper.innerwidth span {
    background-color: #f28c30;
    padding: 3px;
    color: #fff;
    border-radius: 3px;
}
footer.footer {
    border-bottom: 20px solid #c8c8c8;
    margin-bottom: 20px;
}


/*cookie control*/
body#body #cookiesck .cookiesck_inner a,
a.cookieImp {
    color: #fff;
    text-decoration: underline;
    font-size: 16px;
}
body#body #cookiesck_accept {
    background: #f28c30;
    float: none;
    width: 100px;
    margin: 20px auto 0px !important;
    border: 1px solid #fff;
}
body#body #cookiesck_readmore {
    margin: 1px 0px 1px 1px;
    color: #fff;
    float: none;
    text-decoration: underline;
    text-shadow: 0px 3px 5px #525252;
    padding: 10px 10px 10px 0px;
}
body#body #cookiesck {
    padding: 5px 10px 5px;
    font-size: 16px;
}
body#body #cookiesck_readmore:hover,
body#body a.cookieImp:hover {
    color: #f28c30;
}
body#body #cookiesck .cookiesck_inner,
a.cookieImp {
    display: initial;
    line-height: 20px;
    text-shadow: 0px 3px 5px #525252;
}
body#body #cookiesck_accept:hover {
    font-size: initial;
    background: #fff;
    color: #f28c30;
    border-color: #f28c30;
}
@media(max-width: 1280px) {
  body#body.site div#cookiesck span {
      font-size: 14px !important;
  }
  body#body.site #cookiesck_readmore {
      padding: 10px 10px 10px 0 !important;
  }
  body#body.site #cookiesck_accept {
      float: none !important;
      margin: 10px auto !important;
  }
  body#body.site #cookiesck {
      text-align: left !important;
      line-height: 25px !important;
  }
}
@media(max-width: 1366px) {
  body#body.mobile #cookiesck_accept {
      width: 80px;
  }
}