/*
 * Responsive CSS 089-Webdesign
 */

@media(width: 320px) {

}

@media(width: 480px) {
	
}

@media(width: 600px) {
	
}

@media(width: 768px) {
	
}

@media(width: 800px) {
	
}

@media(width: 1024px) {
	
}

@media(width: 320px) and (orientation: portrait) {
	/*critical*/
	body.site header#header {
	    margin-bottom: -21px;
	}	
	/*non-critical*/
	body.site div.module_bottom div#module_90.module ul li {
	    font-size: 13px;
	    line-height: 25px;
	}
	body.site .estLiveOverlay p {
	    font-size: 12px;
	    line-height: 20px;
	}
}

@media(max-width: 375px) and (orientation: portrait) {
	/*non-critical*/
	body.site .module_bottom div#module_90 ul li {
	    font-size: 15px;
	}
}

@media(width: 1280px) and (orientation: landscape) {
	/*critical*/
	body.site img#headerIMG {
	    left: 10px;
	    height: 340px;
	}
}

@media(max-width: 736px) and (orientation: landscape) {
	/*critical*/
	body.site header#header {
	    background-size: 100%;
	}	
	body.site .logoWrapper.mobile {
	    text-align: left;
	}
	body.site #header img#logo {
	    width: 68%;
	}
	/*non-critical*/
	.imgWrapper {
	    position: relative;
	    width: 70%;
	    margin: 40px auto 30px;
	}
	body.site img.liveBannerImg.pull-right.lazy-loaded {
		float: none;
	}
	body.site .estLiveOverlay {
	    right: initial;
	    padding: 10px;
	    max-width: 480px;
	}

}

@media(max-width: 767px) and (orientation: portrait){
	body.mobile #ap_ajax_qc_87 input,
	body.mobile #ap_ajax_qc_87 textarea,
	body.mobile #ap_ajax_qc_87 .error {
	    width: 92%;
	}
	body.mobile img#headerIMG {
	    height: 31%;
	}
	/*non-critical*/
	body.site .span6.estLive {
	    height: 180px;
	}
}
@media(max-width: 768px) and (orientation: portrait) {
		body.mobile .pull-right.item-image {
		float: none;
		margin-left: 0px;
		margin-bottom: 15px;
	}
}
@media(min-width: 768px) and (orientation: portrait) {	
	/*critical*/

	/*non-critical*/

}

@media(max-width: 1280px) and (orientation: portrait) {
	/*critical*/
	body.mobile .teamMember {
	    margin-bottom: 24px;
	}
	body.site .sloganHeader {
	    top: 0px;
	}
	/*non-critical*/
	body.site .estLiveOverlay {
    	padding: 5px 30px;
	}
	body.site .estLiveOverlay p {
	    margin: 0px;
	}
	body.site .estLiveOverlay h3 {
	    font-size: 17px;
	    line-height: 25px;
	}
	body.site .liveBanner {
	    padding: 5px 20px 0;
	    height: 40px;
	}
	body.site .imgWrapper {
	    width: initial;
	    height: auto;
	    margin-top: 30px;
	    margin-bottom: 30px;
	}	
}
@media only screen and (min-width: 768px) and (max-width: 1280px) and (orientation: landscape) { 
	body.mobile .teamContainer {
	    display: flex;
	    justify-content: space-between;
	    margin-bottom: 60px;
	}
}
@media(max-width: 767px) {
	/*critical*/
	body.mobile main#content .module_bottom ul li:nth-of-type(1),
	body.mobile main#content .item-page ul li:nth-of-type(1) {
		background: url(/images/li-style.jpg) no-repeat left 20%;		
	}
	body.mobile .module_bottom ul li,
	body.mobile .item-page ul li {
	    background: url(/images/li-style.jpg) no-repeat left center;
	    text-indent: 0px;
	    font-size: 14px;
	    line-height: 30px;
	    list-style-type: none;
	    padding: 0px 0 0 20px;
	}
	p.tel {
		position: relative;
	}
	p.tel:before {
	    content: '';
	    background: url(/images/tel-icon.png) center left no-repeat;
	    position: absolute;
	    right: 130px;
	    width: 40px;
	    height: 30px;
	    background-size: 70%;
	    top: 20px;
	}
	header#header {
	    background: url(/images/header-bckgr-small.jpg) top left no-repeat;
	    background-size: 140%;
	    margin-bottom: -16px;
	}
	div.page-header h1,
	div.page-header h1 a,
	body.site h1 {
		font-size: 22px !important;
	}
	body.site ul.nav.menu.nav-pills li a {
	    font-size: 16px;
	}
	p.adr {
	    color: #fff;
	    font-size: 16px;
	    margin: 15px 0 0 15px;
	    line-height: 20px;
	}
	body.mobile .item-page p.adr {
	    color: inherit;
	    font-size: inherit;
	    margin: 15px 0 0 0px;
	    line-height: 20px;
	}
	.logoWrapper.mobile {
	    text-align: center;
	}
	.vcard.clr {
	    display: flex;
	    flex-direction: row-reverse;
	    justify-content: space-between;
	}
	p.tel a {
	    color: #fff;
	    font-size: 24px;
	    margin-right: 5px;
	}
	.vcard .tel>span {
		display: none;
	}
	body.site img#logo {
	    width: 95%;
	    padding: 5px 0 0 0px;
	}
	body.site {
	    padding-right: 0px;
	    padding-left: 0px;
	}
	/*non-critical*/
	body.mobile .module_bottom2 {
	    margin-bottom: 50px;
	    box-shadow: 2px 5px 30px -13px;
	    padding: 5px;
	}
	body.mobile div#module_90 .span6>h3 {
	    line-height: 40px;
	}		
	body.site.mobile .imgWrapper {
	    min-height: 250px;
	}	
/*	body.site img.liveBannerImg.pull-right.lazy-loaded {
	    width: 100%;
	}*/
}
@media(max-width: 768px) {
	/*critical*/
	body.mobile ul,
	body.mobile ol {
	    margin: 0px 0 10px 15px;
	}
	body.mobile .module_bottom ul {
		margin-top: 30px;
	}
	body.site .sloganHeader {
	    margin-bottom: -16px;
	}	
	.pull-right.item-image {
	    margin-left: 15px;
	    max-width: 50%;
	}
	body.desktop div.logoWrapper.desktop img#logo {
		width: 30%;
	}
	body.desktop img#headerIMG {
		display: none;
	}
	/*non-critical*/

}

@media(min-width: 768px) {
	/* critical */
	.span4.module_bottom2 .custom p:first-child {
	    padding-bottom: 20px;
	}
	body.is_home .item-page {
	    min-height: 410px;
	}
	.pull-right.item-image {
	    margin-left: 30px;
	    box-shadow: 1px 2px 20px -4px #7d7d7d;
	}
	.sloganHeader h3 {
	    color: #fff;
	    font-style: italic;
	    font-weight: normal;

	}
	.vcard p.adr {
		color: #575756;
		font-size: 24px;
		line-height: 30px;
	}
	.vcard {
	    text-align: center;
	}
	p.tel {
	    font-size: 24px;
	    color: #fff;
	    background-color: #f28c30;
	    line-height: 30px;
	    padding: 20px 20px 30px;
	    border-radius: 0px 0px 30px 30px;
	    box-shadow: 4px 6px 20px -5px #585858;
	}
	p.tel span {
	    text-decoration: underline;
	}
	p.tel a {
		color: #fff;
		font-size: 26px;
		font-weight: bold;
	}
	img#logo {
		padding-top: 35px;
	}
/*	header#header {
	    height: calc(380px + 392 * ((100vw - 1920px) / 1920));
	}*/	
	.vcard.clr {
	    float: right;
	}
	/* non-critical */
	.bottom2-wrap.innerwidth .row-fluid {
		display: flex;
	}
	.module_bottom2:last-child div.module {
		border-right: none;
	}
	.module_bottom2 {
		border-right: 3px solid #e3e3e3;
	}
	.module_bottom2:nth-of-type(3) {
		border-right: none;
	}
	.module_bottom h3 {
	    font-size: 18px;
	}
	.module_bottom h2 {
	    font-size: 24px;
	    text-transform: uppercase;
	}
	.bottom.fullwidth {
	    background: url(/images/pekesin-module-bckgr.jpg) left top no-repeat;
	    margin-bottom: 30px;
	}	
	.imgWrapper {
	    width: 500px;
	    height: 289px;
	    float: right;
	    position: relative;
	}
}

@media(min-width: 768px) and (max-width: 1280px) {
	/*critical*/
	body.mobile .item-page ul li {
	    font-size: 16px;
	}
	header.mediumBckgr {
		background: url('/images/header-bckgr-medium.jpg') top left no-repeat;
		background-size: cover;
	}
	body.mobile .navbar .nav {
		width: 100%;
	}
	body.site .sloganHeader {
	    left: 17%;
	}
	body.site img#logo {
	    padding-top: 10px;
	    max-width: 80%;
	    margin-bottom: 18%;
	}
	.navbar .nav>li>a {
	    font-size: 18px;
	}
	.logoVcard-Wrapper {
		position: relative;
	}
	.sloganHeader {
	    position: relative;
	    top: 0px;
	    margin-bottom: -10px;
	    left: 21%;
	    max-width: 350px;
	}
	div.item-page p {
		font-size: 16px;
	}

}

@media(max-width: 979px) {
	/*critical*/
	body.site .nav-collapse.in.collapse ul {
		z-index: 1;
	}
	body.site .nav-collapse .nav {
	    margin: 0 0 10px 20px;
	}
/*	body.site ul.nav.menu.nav-pills li.active a {
	    color: #fff;
	    text-shadow: 2px 2px 6px #252525 !important;	
	}*/	
	body.site ul.nav.menu.nav-pills li a {
	    margin-bottom: 10px;
	    text-shadow: none;
	}
	body.site .nav-collapse.in.collapse {
	    background-color: #f6f6f6;
	    /*z-index: -1;*/
	}
	body.site .navbar .nav > li {
	    display: inline;
	}
	body.site .btn-navbar.collapsed .icon-bar+.icon-bar {
	    margin-top: 5px;
	}
	body.site .navbar .btn-navbar.collapsed .icon-bar {
	    width: 40px;
	    height: 3px;
	    background-color: #f5f5f5;
	    -webkit-border-radius: 1px;
	    -moz-border-radius: 1px;
	    border-radius: 1px;
	    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
	    box-shadow: 0px 2px 0px 0px #c57f0e;
	}
	body.site .navbar .btn-navbar .icon-bar {
		width: 40px;
	    height: 3px;
	    margin-bottom: 5px;
	}	
	body.site .navbar .btn-navbar.collapsed .icon-bar:nth-of-type(1),
	body.site .navbar .btn-navbar.collapsed .icon-bar:nth-of-type(3) {
	    transform: rotate(0deg) translateY(0px);
	    	transition: transform .3s ease;
	}
	body.site .navbar .btn-navbar .icon-bar:nth-of-type(1) {
		transform: rotate(45deg) translateY(11.5px);
			transition: transform .3s ease;
	}
	body.site .navbar .btn-navbar.collapsed .icon-bar:nth-of-type(2) {
		opacity: 1;
			transition: opacity .3s ease;
	}
	body.site .navbar .btn-navbar .icon-bar:nth-of-type(2) {
		opacity: 0;
	}	
	body.site .navbar .btn-navbar .icon-bar:nth-of-type(3) {
		transform: rotate(-45deg) translateY(-11px);	
			transition: transform .3s ease;	
	}
	body.site .navbar .btn-navbar {
	    color: #fff;
	    text-shadow: none;
	    background-color: transparent;
	    background-image: none;
	    border: none;
	    box-shadow: none;
	}
	body.site .navbar .navbar-inner {
	    padding: 5px 0;
	    margin-top: 15px;
	}
	body.site nav.navbar-wrapper {
	    background-color: #f28c30;
	    margin-bottom: 0px;
	}
}
@media(min-width: 980px) and (orientation: landscape) {
	nav.navbar-wrapper {
	    padding-left: 15px;
	}
}

@media(max-width: 1023px) {
	body.itemid-144 .item-page {
	    margin-bottom: 60px;
	}
}

@media(min-width: 1024px ) {
	/*non-critical*/
	.estLiveOverlay {
	    width: 440px;
	}
}

@media(max-width: 1280px) {
	/*critcal*/
	.teamMember {
		position: relative;
	}
	body.mobile .memberContent {
	    background: #737373;
	}
	.memberContent {
	    width: 100%;
	    height: 70px;
	    position: absolute;
	    bottom: -50px;
	    right: 0;
	    text-align: center;
	    border-left: 5px solid #f28c30;
	    padding-top: 10px;
	}
	.memberContent h3 {
		margin: 0px 0px 5px;
		transform: translateY(30%);
	    font-size: 21px;
	    display: inline;
	    text-transform: none;
	    color: #fff;	
	}
	.memberContent span {
		opacity: 1;
		font-size: 18px;
		color: #fbad66;
		display: block;
		height: 60px;
		text-shadow: 0px 1px 3px #737373;
		transform: scale(1);
	}
	body.site header {
		padding: 0px 10px;
	}
	body.site div.content,
	body.site div.navbar-wrapper,
	body.site div.bottom,
	body.site div.bottom2,
	body.site footer,
	.copyWrapper {
		padding: 0px 10px 0 15px;
	}
	div.page-header h1,
	div.page-header h1 a,
	body.site h1 {
		font-size: 24px;
		line-height: 30px;
	}
	div.page-header h2,
	div.page-header h2 a,
	body.site h2 {
		font-size: 21px;
		line-height: 25px;
	}
	div.page-header h3,
	div.page-header h3 a,
	body.site h3 {
		font-size: 18px;
		line-height: 25px;
	}			
	body.desktop .sloganHeader.clr {
	    display: none;
	}
	body.desktop p.tel {
    	padding: 5px 20px 5px;
	}
	/*non-critical*/
	body.site .module_bottom ul li {
	    font-size: 16px;
	    line-height: 30px;
	}
	body.site .module_bottom h2 {
	    font-size: calc(24px + 8 * ((100vw - 1280px) /1280 ));
	}
	body.site .module_bottom h3 {
	    font-size: calc(18px + 8 * ((100vw - 1280px) /1280 ));
	    line-height: 22px;
	}	
}

@media(min-width: 1280px) {

	/*critical*/
	.teamMember:hover .memberContent span {
		height: 60px;
		opacity: 1;
		transform: scale(1);
	}
	.teamMember:hover .memberContent h3 {
		color: #fff;	
	}	
	.teamMember:hover .memberContent {
		background: #93948f;	
	}
	.teamMember {
		position: relative;
	}
	.teamContainer {
	    display: flex;
	    justify-content: space-around;
	    margin: 50px 0px;
	}
	.memberContent {
	    background: #c8c8c8;
	    width: 100%;
	    min-height: 50px;
	    position: absolute;
	    bottom: -50px;
	    right: 0;
	    text-align: center;
	    border-left: 5px solid #f28c30;
	    	transition: all .5s ease-in-out;
	}
	.memberContent h3 {
		margin: 0px 0px 5px;
		transform: translateY(30%);
	    font-size: 21px;
	    display: inline;
	    text-transform: none;
	    color: inherit;
	    	transition: all .5s ease-in-out;		
	}
	.memberContent span {
		opacity: 0;
		font-size: 18px;
		color: #fbad66;
		display: block;
		height: 0px;
		text-shadow: 0px 2px 3px #737373;
		transform: scale(0);
		transition: all .5s ease-in-out;
	}	
	body.site .navbar .nav>li {
		position: relative;
	}
	body.site .navbar .nav>li>a:before {
		content: ' ';
		width: 80%;
		height: 0px;
		left: 15px;
		background-color: #f28c30;
		position: absolute;
		bottom: 0px;
		z-index: -1;
		border-radius: 5px;
		transition: 
			width .2s ease-in-out .2s,
			height .2s ease-in-out,
			left .2s ease-in-out .3s;
	}
	body.site .navbar .nav>li>a:hover:before {
		width: 40px;
		height: 40px;
		left: 0px;
	}
	body.site .navbar .nav>li>a {
		text-shadow: none;
		transition: all .2s ease-in-out .2s;
	}
	body.site .navbar .nav>li>a:hover {
		color: #fff;
		text-shadow: 2px 2px 6px #252525;
		transition: all .2s ease-in-out .4s;
	}
}

@media(min-width: 1281px) {
	/*critical*/
	header.largeBckgr {
		background: url('/images/header-bckgr-large.jpg') top left no-repeat;
		background-size: cover;
		height: 370px;
	}
	.bottom {
		min-height: 420px;
	}
	div.page-header h1,
	div.page-header h1 a,
	.item-page h1 {
		font-size: 30px;
	}
	.navbar .nav>li>a {
	    font-size: 24px;
	}
	.sloganHeader {
		width: 1180px;
		margin: 0 auto;
	    position: relative;
	    top: 50px;
	    /*margin-bottom: -60px;*/
	    left: 11.5%;
	}
	div.item-page p,
	body p  {
		font-size: 18px;
	}
}

@media(max-width: 1630px) {
	/*critical*/
	div.logoWrapper.desktop img#logo {
		width: 70%;
	}
	body.desktop img#logo {
		padding-top: 5px;
	}
}
@media(min-width: 1679px) and (max-width: 2239px) {
	body.site.desktop .sloganHeader {
	    top: calc(50px + 96 *((100vw - 1980px) / 990));
	}
}
@media(min-width: 2240px) {
	body.site.desktop .sloganHeader {
	    top: 75px;
	}
}